image: java:8-jdk

before_script:
  #  - echo `pwd` # debug
  #  - echo "$CI_BUILD_NAME, $CI_BUILD_REF_NAME $CI_BUILD_STAGE" # debug
  - export GRADLE_USER_HOME=`pwd`/.gradle

stages:
  - build
  - test


cache:
  paths:
    - .gradle/wrapper
    - .gradle/caches

build:
  stage: build
  script:
    - ./gradlew assemble
  artifacts:
    paths:
      - "build/libs/*.jar"
      - "*/build/libs/*.jar"
      - "build/distributions/*"
    expire_in: 1 week
  only:
    - master

test:
  stage: test
  script:
    - ./gradlew test
  artifacts:
    reports:
      junit:
        - "build/test-results/test/TEST-*.xml"
        - "*/build/test-results/test/TEST-*.xml"
